@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.slide-size {
  /* width: 50rem !important; */
  /* height: 25rem !important; */
}

.contenedor-slides {
  overflow-y: visible !important;
  max-width: 100%;
}

.mySwiper .swiper-pagination-bullets {
  position: absolute;
  /* bottom: 10px; */
  /* Ajusta la distancia desde la parte inferior */
  left: 50%;
  transform: translateY(-350%);
  /* Centra la paginación */
}

@media (max-width: 767px) {
  .slide-size {
    /* width: 50rem !important; */
    /* height: 25rem !important; */
  }

  .contenedor-slides {
    max-width: 100%;
    /* min-height: 100%; */
  }
}

.max-height-card {
  max-height: 100%;
  /* min-height: 100%; */
}

.card-shadow {
  box-shadow: 5px 5px 10px 0px rgb(42, 42, 42, 0.2);
}

.mySwiper .swiper-pagination-bullets {
  position: absolute;
  bottom: -40px;
  /* Ajusta este valor según sea necesario para mover la paginación hacia abajo */
  left: 50%;
  transform: translateX(-50%);
  /* Centra la paginación horizontalmente */
}

.mySwiper .swiper-pagination-bullets {
  position: absolute;
  bottom: -40px;
  /* Ajusta este valor para colocar la paginación más abajo si es necesario */
  left: 50% !important;
  /* Posición inicial desde el lado izquierdo */
  transform: translateX(-50%) !important;
  /* Desplaza la paginación a la mitad hacia atrás para centrarla */
}

.platillosEspecialesSwiper {
  width: 50vw;
  height: 30vh;
  padding-inline: 25px !important;
}

.mySwiper {
  padding-inline: 14vw !important;
}

footer a {
  transition: 0.25s;
}

footer a:hover {
  color: #AB9753;
}